/*define landing page header*/
header {
    width: 100%; 
    color:blue;
    background-color: orangered;
    font-family: 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
    font-size: 35px;
    position: fixed;
    text-align: center;
    margin: 0 auto;
}

body 

 h1 {
text-align: center;
line-height: 100px;
color: orange;
background-color: blue;
 }



.contact-form {}

button {}

footer {
    position: fixed;
    left: 0;
    bottom: 0; 
    width: 100%;
    background-color: blue;
    color: yellowgreen;
    font-family: 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
    font-size: 35px;
    margin: 0 auto;
}